header {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: #520c2d;
  background-color: #b1949e;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}  

img {
  position:inherit
}