
nav {
  background-color: #78487c;
  height: 100px;
  width: 100%;
  color: white;
  padding: 1.5em;
  position: fixed;
  top: 0;
}
div.logo {
  float: left;
}

div.right-nav {
  display: flex;
  justify-content: flex-end;
  color: rgb(36, 2, 46);
  font-family: "Source-Sans-Pro", sans-serif;
  flex-direction: row;
}

#arrow {
  color: rgb(255, 0, 191);
  display: flex;
  justify-content: flex-end;
}

