nav {
  background-color: rgb(102, 64, 93);
  height: 100px;
  width: 100%;
  z-index: 99;
  color:#c7a8b3;
  padding: 1.5em;
  position: fixed;
  top: 0;
}
div.logo {
  float: left;
}

div.right-nav {
  display: flex;
  justify-content: flex-end;
  color:#c7a8b3;
  font-family: "Source-Sans-Pro", sans-serif;
  flex-direction: row;
}

#arrow {
  color: #c05b85;
  display: flex;
  justify-content: flex-end;
  
}

