article.tweet header {
  height: 75px;
  display: flex;
  flex-direction: row;
  background: #dfd1d6;
 }

 article.tweet:hover {
  box-shadow: 7px 7px 0 rgb(102, 64, 93);
 }

article.tweet #user-icon {
  margin: 20px;
  height: 50px;
}

article span.time-of-tweet {
display: flex;
margin-top: 10px;
}

article span.icons{
float: right;
color: #dfd1d6;

}

span.time-and-icons{
  display: flex;
  align-content: space-between;
}
i#flag.fas.fa-flag:hover {
  color: rgb(102, 64, 93);
}

article span #heart:hover {
  color: rgb(102, 64, 93);
}

article span #retweet:hover {
  color: rgb(102, 64, 93);
}

article.tweet footer {
  height: 50px;
  border-style: none;
  border-top-style: solid;
  border-width: thick;
  color:rgb(102, 64, 93);
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}


article.tweet {
  height: 275px;
  border-style: solid;
  border-width: thick;
  color: rgb(102, 64, 93);
  background-color: #c7a8b3;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Source Sans Pro', sans-serif;
 }

 article.tweet span.username  {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

article.tweet span.handle  {
  float: right;
}

article.tweet header {
  height: 75px;
  display: flex;
  flex-direction: row;
 }

 article.tweet header img {
  margin: 20px;
  height: 50px;
}

article.tweet header p {
  margin: 20px;
  font-size: 20px;
  color:rgb(102, 64, 93);
  margin-left: auto;
}

article.tweet p {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}